{% extends "base.html" %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'account/css/password-change-form.css' %}">
{% endblock %}

{% block title %}Change you password{% endblock %}


{% block content %}
    <h1>Change you password</h1>
    <p>Use the form below to change your password.</p>
    <form class="password-change-form" action="." method="post">
        {{ form.as_p }}
        <input class="btn" type="submit" value="Change">
        {% csrf_token %}
    </form>
{% endblock %}